maven-project-xsd-dtd-examples/src/main/resources/xml_xsd_example3/personSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/personSchema">

	<complexType name="PersonType">
		<sequence>
			<element name="login" type="string" />
			<element name="address" type="string" />
		</sequence>
	</complexType>

</schema>
